# Default: translate files to EBCDIC on z/OS
* zos-working-tree-encoding=ibm-1047

# git's files (which MUST be ASCII or UTF-8)
.gitattributes zos-working-tree-encoding=iso8859-1
.gitignore zos-working-tree-encoding=iso8859-1
